:root {
  --bg-color: #fcf7f8;
  --main-color: #29a8cf;
  --main-text-color: #424c55;
  --black-color: #000000;
  --hightlight-color: #c74949;
  --hover-color: #48cae4;
  --recouce-card-color: #e9c46a;
}

body {
  /* background-size: 500px 300px; */
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: var(--main-color);
}

nav > button {
  border: none;
  border-radius: 10px;
  color: var(--main-text-color);
  background-color: var(--bg-color);
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.3s;
  font-weight: bold;
}

nav > button:hover {
  background-color: var(--hightlight-color);
  color: white;
}

.home-container {
  margin: 2rem;
}

.header {
  /* width: 60vw; */
  background: url();
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  font-size: 4rem;
}

.header > p {
  color: var(--main-text-color);
  font-size: 1.2rem;
  line-height: 2rem;
}

.category-btn {
  display: inline-block;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border: none;
  border-radius: 10px 10px 0 0;
  /* transform: perspective(10px) rotateX(1deg); */
  /* margin-right: 2px; */
  cursor: pointer;
  font-size: 1.2rem;
  /* transition-duration: 0.4s; */
  /* border-radius: 10px; */
}

.category-btn:hover {
  background-color: var(--hover-color);
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-flow: column; */
  width: 80vw;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  border: 3px solid var(--main-color);
  border-radius: 0 10px 10px 10px;
  padding: 1rem;
}

a {
  margin-bottom: 1rem;
  margin-right: 1rem;
  min-width: 200px;
  background-color: var(--main-text-color);
  color: var(--bg-color);
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
}

a:hover {
  /* background-color: #f4a261; */
  background-color: var(--hightlight-color);
}

.description {
  font-weight: bold;
  font-size: 1.1rem;
}

/* .category-btn-clicked {
  background-color: var(--hightlight-color);
} */
